.body {
    font-family: "Montserrat", sans-serif;
}
.heroimage {
    background-image:url("https://d36g7qg6pk2cm7.cloudfront.net/assets/slider_2_o-a6898e8c62c2e2566cfde6ca773ea0f3e23fd4ee6c03a30f5530160ed29e93e8.jpg");

    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    position: relative;
}

.see{
    display: table-cell;
	vertical-align: middle;
	width: 100%;
	margin: auto auto;
	text-align: center;
}
.firstcharacter {
    color: rgb(254, 204, 0);
    float: left;
    font-family: Georgia;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
  }

  .spec {
      font-weight: bold;
      font-size: 15px;
      font-family: "Montserrat", sans-serif;
  }
  
  .spec2 {
      font-weight: 100px;
      font-size: 12px;
  }
  .nopad {
   padding: 0px;
   margin: 0px;
  }
  .bg-col{
   background-color: rgb(243, 243, 243);
   padding: 2%;
   padding: 2%; 
  }
  .h1  {
      font-size: 15px;
      font-weight: bold;
  }
  .head {
    font-size: 25px;
    font-weight: bold;

  }
  .c {
      font-weight: bolder;
  }
  
  /* <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button> */
.c1 {
    padding:0px;
    margin:0px;
    box-shadow: 0px 5px grey;
}