body {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
}
.heroimage {
    background-image:url("https://d36g7qg6pk2cm7.cloudfront.net/assets/slider_2_o-a6898e8c62c2e2566cfde6ca773ea0f3e23fd4ee6c03a30f5530160ed29e93e8.jpg");
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.bck{
    background-color:#e6e6e6;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.firstcharacter {
    color: rgb(254, 204, 0);
    float: left;
    font-family:'Montserrat', sans-serif;
    font-size: 55px;
    line-height: 60px;
    padding-top: 0px ;
    padding-right: 40px;
    padding-left: 3px;
    
    margin: -10px;
  }

  .spec {
      font-weight: 900;
      font-size: 17px;
      font-family: "Montserrat", sans-serif;
      line-height: 1.5;
      padding-top: 10px;
      padding-bottom: 20px;
  }
  
  .spec2 {
      font-weight: 100px;
      font-size: 12px;
  }
  /* .nopad {
   padding: 0px;
   margin: 0px;
   border-color: white;
  } */
  .bg-col{
   background-color: rgb(243, 243, 243);
   }
  .shadow{
    /* box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2); */
   box-shadow: rg(170,170,170) 0px 5px 0px; 
}
  /* .h1   {
      font-size: 1px;
      font-weight: 900;
  } */
  .head {
    font-size: 25px;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;


  }
  .bold {
      font-weight: 900;
  }
  
  /* <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button> */
.c1 {
    
    margin:0px ;
    /* height: 10px; */
    border-width: none;
    float: left;
    padding: 0%;
    border: none;
      
   }
/* .bck1{
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAL4AAACCCAMAAADPEoJ5AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJBQTFRF////09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TUrsp1BQAAAC90Uk5TABAfIC4wPD1ASlBXYGRwfICHiJCSnKCmsLjAwcnQ3ODi5Ofo6+/w8fP29/v8/f7sVfDVAAACFklEQVQYGe3BgXLSQAAE0L1AMNKURpGUnmKq1rOIsP//d1IoJUBCSWfu0szsexARERERERERERERERERERERERERERERERERERERESn5hC4bcYAOm/M3umtC8gZdFS1JLtBVlk8sGhvgHRhwY9VHQ9Figvbdc+seDf0kr9C2a+6M0MgdyUWElj1y5xFNXPPJA9r1hXu3uFy05IZFm8ySe6sIF3vgsxu06I5lM9SLUHbHndUArTF/eKCPGtH9PMLeNffmBm0Z85BFtWhOrq6w01+y5Dta0uOxBFWiOddWV3j2jQc+ox2WxwpUiObcWF1jY8RDLkYbEp7KcKI/584EazGPFQYtmPGUMzjy4R/3JoApeGKK8FJWyXHoo2PZLaasMEJoxrFSgrLY8dBXVkoQWMZqFiWx42WcQVA9xxopXsSOl5ohqJx1nMGz2PFyYwSUsF6GrdixiRThWJ7Rw5PUsREXI5Qhz7FYS9nUzCCQgmclQMrmpggj43kFUr7FCCEYx1dM+TYJAhjTF2fgXY/+zOCdpUdjeJbQqyH8+kWvXAyf6NvMwCN6l8Mj+jeCPwwgRnNxmm2kCc5hAM6gTpzZtWk2NChJcsc9myWowxAsTiVJmk0LvrCpwdbQ8oTNhgYVGMQPuzbOstxuFKyUJzDD3LHGbDzs4Qjflb98RZGnMUrYxJLvweLh+8xugZ0GdhrYaWCngZ32HzvgtVN28T2oAAAAAElFTkSuQmCC");
    padding-top: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-position:  10% 100%; 
  background-color: red;
    height: 100%;
    box-sizing:border-box;
    display:block;
    margin:0px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.bck2{
    padding-top: 10px;
  background-color:yellow;
    height: 120px;
    box-sizing:border-box;
    display:block;
    margin:0px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
} */
/* .row1{
    padding:20px 150px 20px 150px;
} */

.adjust{

    padding:20px 150px 20px 150px;
}
/* 
.adjustfont{

    font-size: 11px;
    font-weight: 700;

} */


.row:after {
    content: "";
    display: table;
    clear: both;
}
/* .row4{

    padding:0px 150px 0px 150px;
    text-align: center;
    border: none;
    
} */
.c4{
    
    font-size: 15px;
    margin: 0%;
    text-decoration: none;
  
}
.company{
    
    font-weight: 700;
}
.textlight{
    font-weight: 200;
    font-size: 12px;
    text-align: left;
    
}
ul{

    list-style-type: none;
    margin-left: 0%;
    padding-left: 0%;
}
    /* }
.bckimg1{
 background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAL4AAACCCAMAAADPEoJ5AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMBQTFRF////09TU09TU09TU09TU1NXV09TU1NXV1NXV09TU1NXV1NXV09TU09TU1dbX1dXV1dbX09TU09TU1dbX1dbX09TU1tbX09TU09TU1dbX1tfY09TU1tbX1tfY09TU09TU09TU1tfY09TU09TU1tfY19jZ09TU1NXV1tbX19jY2NnZ09TU09TU1dbX09TU2tvc19jZ2Nrb2trb09TU09TU2NnZ2drb09TU09TU09TU2drb09TU1NXV2Nrb2tvc3t/gzOE9GwAAADt0Uk5TABATFCAnMDc5QElLTFBTWl1gZGtucH+AiIyPkJyfoKaoq7C6ur3AwsbJy8zQ0tPT19na4OTl5+vv8POlIgGDAAADM0lEQVR42u2ZbXuTMBSGwUU0c9WhY2zW4YYa7ay6iZvDDPz//8oBpYUkvCedva7n/taWJHdPwsmbZQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMAz1A9dAtU7Il555e5c/EGqv1o6zel1q1N0JQ54T+K4tK9AqQzqU8ZKlbVA/4htiR7LgVfrXOqsWc43J217NLyaa9ONaucb4E1fV5QOHZ4W5Hn0qVBuoH/PzH8e/3XOhGc706DuszrzFfoL/nHW000efkjFN+ywsuz72fY8YeDMorb8aVGGadSBzBlcdiv0e6M9PXMJXD79oaNu2XHXf/EqCyNWj78Vl/y9ZOCQ9ukyuWnrv1P87yJujGvQdofneXRBwJd1Otl/Gi9Gp+oSNCV8l4/COrC3ztfL0wTR9d0z4cpYN+t1/nw1qrE3fGRW+QqKB+Rb1/bEvX++kTeTVY7XfPEqd8fqEyjga9e/4SftCpDtcPfK+of1TFmivHpfd0SdSu/Yu6XtSu65m/aPLNA5N7QPlzBo26Lu+CO2hv3edpul6Hc/7MnrscE7U+qxtfDTqX6aFfvF5qv6zi8Xn6pLJUxT11PofIpGTbv0Xaakf29P13yRJcl/dkalm5aXG6L9d6+dz3zT9/aTQXzfsKMuS/1T/Y6nPVyvW98qyB/r0jzf62YTin/eSP1dn3WStT9uW01Sf/vPN2G/Y+g1Yz21dP0+bq+gHTXs/kd/qzczpzUY/Lva7hvVX9mn1CKdbnzUP/FJ/dczXoP9a/u7XGP2ztKrPZxP0T5O6fv5Ug75iNrgbof80retHE/RvRP0sFZgdPGeCfh7+kfqJpE9N61+K+v5O6aeiPhuvfyXpk13SfyXqB8YT562oH05InO/q+vlBoVn9T6K+N0Hf2r9YLK4y/TgszxnN6h+J+mSKfsaTRXIfOR1HiNpm3du6fmhN1besn986T0C16R/W9IvrsIn6P75sT78cPtXLyIH6zvx70XOzR9C3Dv+U+kvHGq5fufNdVbhdfWvv+DrTZ27zk436du0+MH4M/Qde/uWtJ0JK/Vkk/xDsjD5pulTZDX1/W/r/ALQyFxk+7VEoAAAAAElFTkSuQmCC") ;
} */
/* .bckimg2{
background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAL4AAACCCAMAAADPEoJ5AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJBQTFRF////09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TU09TUrsp1BQAAAC90Uk5TABAfIC4wPD1ASlBXYGRwfICHiJCSnKCmsLjAwcnQ3ODi5Ofo6+/w8fP29/v8/f7sVfDVAAACFklEQVQYGe3BgXLSQAAE0L1AMNKURpGUnmKq1rOIsP//d1IoJUBCSWfu0szsexARERERERERERERERERERERERERERERERERERERESn5hC4bcYAOm/M3umtC8gZdFS1JLtBVlk8sGhvgHRhwY9VHQ9Figvbdc+seDf0kr9C2a+6M0MgdyUWElj1y5xFNXPPJA9r1hXu3uFy05IZFm8ySe6sIF3vgsxu06I5lM9SLUHbHndUArTF/eKCPGtH9PMLeNffmBm0Z85BFtWhOrq6w01+y5Dta0uOxBFWiOddWV3j2jQc+ox2WxwpUiObcWF1jY8RDLkYbEp7KcKI/584EazGPFQYtmPGUMzjy4R/3JoApeGKK8FJWyXHoo2PZLaasMEJoxrFSgrLY8dBXVkoQWMZqFiWx42WcQVA9xxopXsSOl5ohqJx1nMGz2PFyYwSUsF6GrdixiRThWJ7Rw5PUsREXI5Qhz7FYS9nUzCCQgmclQMrmpggj43kFUr7FCCEYx1dM+TYJAhjTF2fgXY/+zOCdpUdjeJbQqyH8+kWvXAyf6NvMwCN6l8Mj+jeCPwwgRnNxmm2kCc5hAM6gTpzZtWk2NChJcsc9myWowxAsTiVJmk0LvrCpwdbQ8oTNhgYVGMQPuzbOstxuFKyUJzDD3LHGbDzs4Qjflb98RZGnMUrYxJLvweLh+8xugZ0GdhrYaWCngZ32HzvgtVN28T2oAAAAAElFTkSuQmCC");

}
.bckimg3{
 background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAL4AAACCCAMAAADPEoJ5AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAOpQTFRF////1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXVT5RY4wAAAE10Uk5TABAfIC0uMDtASElKTFBUVVdYW2BscHR1eXx+gISLj5CUnqCjpqmqr7C3ur7AxMjKzM3Q1NXX3+Dh5efo6uzt7/Dx8/T19/j5+vv8/f4WYtOMAAACcElEQVR42u3Z23bSQBSA4RmwEauIFakHrGg8YT1T6rltbGkRmP/9X8cLihaSkJAyy2zX/i8hQ74VJplAjNE0TdM0TdM0TdM0TdM0TdM0TdM0TdM0TdM0TdM0TdM0rbRVZPM5kM3nu2w+n2TzCWXzacrmy/Uj249s/4xPIJsv049s/wU+Vdl8rIibzMN6Cl+C/wpM0vgnpddvAqTxKbv+JpL5d5DMv4tkfgfJ/OdI5u8imf8eyfw9JPO/IZn/E9F8lO+zd64mmb/PoWx+9J/wv7iH4vgHf/hDGIvjz3ZdcQjmT39MSeWf39AL5X8kif80Kjv/1jxijv8BsOXmt9L5P0hICt+eIZhfmSCYv+EQzG+AYH6bdfA3H/il20cp/JNsfmU7i99IWgTXWGWCS+YPMvnxc2Px03c8T6mrDuBeIX5j2awyxhjzyvMpkXx25uO3yeL3PT922aE4/wVZ/CPPj41eUpzfz7gkGTuae6e7dn2f4vzDrCtqbMHurXY9bGVtcURhvh1mLghR7L29VfQ9Qltk3ufi97LXs0HmZWlJQQT0lvofX4K/75cfTL+6XlUkvzkbEAUC+c2/I6KaOH44N6Ypi2/DhUHtpPu0Sln5N/KMcnwtIb9qjKnlGHUGBKXjB0Q2Dz8EeOuFP7wE/xm08vCnL3vhc78wv34K4b/mD4vya6cA1Rx855FPIX6HehfgV/LRbwWl5ttjum9gDM0kfovPsdkz8cTfKsB/Dce3gUFkE/g2go2Lm+8C1zzxr6/ODxgz2QKgnsDfHsGThcPfMZ741hjjnEv6e9GlBeDON4mPio+F5B3M7YhCuVHVIDn3G2mQ5fsoGTmLAAAAAElFTkSuQmCC"); 
}
.bckimg4{
background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAL4AAACCCAMAAADPEoJ5AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADNQTFRF////1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXV1dXVgYm96QAAABB0Uk5TABAgMEBQYHCAkKCwwNDg8FTgqMgAAAIsSURBVHja7dnbdoIwEIVhSEYc4yTs93/aXnjCArFBXSSr+7/SFvBbHBLErmOMMcYYY4wxxhhjjDHGGGOMMcYYY4wxxhhjjDHGGGNsqb5tvTTNF/LJ39pQGx++ZGmtjl8E0mPbfG2aH6rhq9vAN61st/8vvtXGL9qfqRb+gKCqqjBXshIOdfANt6SEP/qG+R1i1zQfLfN9u/yDniMAWFDfIB+PlPzMGTpkBz8d6uaL5r7tRUSRDB+2K19CTGZmNvSL0yYA4LTM92aGMSEmvxcfubNCr/+yJ75577wcfCeZdavl6521wO/7Xfn9yczMfDm/90+PRuZ8J/7bfB+f9mYJX0dVtXNQPS/zFfZl/u1SRRyK+Y8lsMjXwvullZHGMnxb+MiP8J1IAHAUEZG+Ob5O3uL4xkEISfbmv3Mf+nscW+MLAKuNL7O1W+K7OJtHHtsMtfPdeBsXbxd/L8gUw5f45y0T2BAfMD89mV72af6mG4npNqSInzR9mL/Bv50/rSZ+bJuP/fny11+QptuIl5vi/fk+ILwcMVW72TakCr69ngYkAqev8uNQyjc1wFTTdfnB1n4M6BMAHH5vIw6b+MdwF4TJn30h/3kSdrp6FC4P6zCedH788LHG9A5frrNj5gGZfZX/dH6JFE0o4mTxXsip6g784lSmh81uA6oAWOcns+r4l2/bQV2nCMcsv77M0n1eur5qib90WZNfBd+a5N8nFjTNB/nkk08++X/qB6PYW3JfjVY6AAAAAElFTkSuQmCC") ; 
} */
.number{
    background:rgba(0,0,0,0.5);
}
/* .navbar{
    background:rgba(0,0,0,0.8);
} */
.bgw{
 
    background-color: white;
    height: 240.81;

}
.lesstransparency{
    background:rgba(0,0,0,0.8);
}

.overlap {
position: relative;
  }
.overlap .imgtext{
   
    z-index: -1;


}

.overlap .textoverimage{
vertical-align: baseline;
    text-align: center;
  width: 100%;
margin: 7% auto auto auto;
  position: absolute;
  z-index: 0;
  
}