.heroimage {
    background-image:url("https://d36g7qg6pk2cm7.cloudfront.net/assets/slider_2_o-a6898e8c62c2e2566cfde6ca773ea0f3e23fd4ee6c03a30f5530160ed29e93e8.jpg");

    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    position: relative;
}

.see{
    display: table-cell;
	vertical-align: middle;
	width: 100%;
	margin: auto auto;
	text-align: center;
}
.firstcharacter {
    color: #903;
    float: left;
    font-family: Georgia;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
  }